.text-outline {
  -webkit-text-stroke: 2px white;
  color: transparent;
}

.intro {
  animation-name: starting;
  animation-duration: 1s;
  /* animation-timeline: view();
  animation-range: entry 1; */
}
@keyframes starting {
  0% {
    transform: translateY(-10px);
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.appearing {
  animation-name: appear;
  animation-duration: 1s;
}

@keyframes appear {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
